:root {
  --main-color: #f5f5f5;
  --details-color: #e6ffa0;
  --main-font: "Poppins";
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  --hover-color: #fb2576;
}

body {
  background: var(--main-color);
  font-family: var(--main-font);
  margin-top: 100px;
}

.text-center {
  text-align: center;
}

.intro-section {
  padding-bottom: 140px;
  padding-top: 80px;
}

h3 {
  font-size: 25px;
}

h1 {
  font-size: 70px;
  font-weight: light;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--details-color);
  text-decoration-thickness: 20px;
}

.navbar {
  background: var(--details-color) !important;
}

.text-left {
  text-align: start;
}

.text-right {
  text-align: right;
}

.primary-link {
  /* border-radius: 30px; */
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--details-color);
  color: black;
}

.primary-link:hover {
  box-shadow: var(--box-shadow);
  color: var(--hover-color);
}

.darker {
  background: black;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--main-color);
}

img {
  width: 70%;
}

@media (max-width: 576px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }

  .intro-section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
