:root {
  --main-color: #f5f5f5;
  --details-color: #e6ffa0;
  --main-font: "Poppins";
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  --hover-color: #fb2576;
}

body {
  background: var(--main-color);
  font-family: var(--main-font);
  margin-top: 100px;
}

.text-center {
  text-align: center;
}

.container {
  max-width: none !important;
}

.intro-section {
  padding-bottom: 140px;
  padding-top: 140px;
}

img {
  width: 80%;
  display: block;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  font-size: 25px;
}

h1 {
  font-size: 70px;
  font-weight: light;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.row {
  padding-left: 200px;
  padding-right: 200px;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--details-color);
  text-decoration-thickness: 20px;
}

.navbar {
  background: var(--details-color) !important;
}

.text-left {
  text-align: start;
}

.text-right {
  text-align: right;
}

.primary-link {
  /* border-radius: 30px; */
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--details-color);
  color: black;
}

.primary-link:hover {
  box-shadow: var(--box-shadow);
  color: var(--hover-color);
}

.darker {
  background: black;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--main-color);
}

.about-section h1 {
  font-size: 50px;
}

.about-section h2 {
  font-size: 25px;
}

.work-section {
  padding-top: 30px;
  padding-left: 50px;
}

.work-section h1 {
  font-size: 40px;
}

.work-section h2 {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}

.work-section h3 {
  text-align: center;
  font-size: 15px;
  padding-top: 5px;
  margin-bottom: 40px;
}

@media (max-width: 820px) {
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }

  .row {
    padding-left: 0;
    padding-right: 0;
  }

  .navigation-link {
    text-align: center;
  }

  .intro-section {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  img {
    display: block;
    margin: auto;
  }
}
